@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
    --black: #121b24;
    --light-bg: #1B1F3A;
    --white: #ffffff;
    --azul-claro: #1273c7;
}

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    user-select: none;
    pointer-events: none;
}

body {
    padding-top: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* background-color: brown; */
    background-color: rgba(0, 0, 0, 0.9);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    display: none;
}

/* FIN de ajustes generales */

/* barraDeBusqueda start */
.barraDeBusqueda {
    max-width: 1400px;
    margin: 3rem auto;
}

/* barraDeBusqueda end */

/* cajon start */
.cajon {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 310px;
    gap: 10px;
}

.cajon .movie {
    display: none;
}

.cajon .movie .imgContainer {
    position: relative;
    width: 200px;
    height: 310px;
}

.cajon .movie .imgContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cajon .movie .imgContainer .text-Box {
    background-color: var(--black);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.cajon .movie .imgContainer:hover .text-Box {
    transform: scale(1.05);
    opacity: 1;
    z-index: 4;
}

/* text-box start */

.cajon .movie .imgContainer .text-Box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.cajon .movie .imgContainer .text-Box .movieTitle {
    color: var(--white);
    font-weight: 400;
    font-size: 1.7rem;
}

.cajon .movie .imgContainer .text-Box p {
    color: #fcb900;
    font-size: 1rem;
}

.cajon .movie .imgContainer .text-Box p span {
    padding: .5rem;
    color: var(--white);
    font-size: 1.2rem;
}

.cajon .movie .imgContainer .text-Box a {
    background-color: var(--azul-claro);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.5rem;
}

.cajon .movie .imgContainer .text-Box a i {
    font-size: 1.5rem;
    color: #fcb900;
}


@media (max-width: 500px) {
    .cajon {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 245px;
    }

    .cajon .movie .imgContainer {
        width: 160px;
        height: 245px;
    }
}

@media (max-width: 350px) {
    .cajon {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 245px;
    }
}

/* cajon end */

.barraDeBusqueda {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input {
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)), url("https://raw.githubusercontent.com/jos3lo89/wallapers-pelis999/main/knndy.png");
    height: 2rem;
    width: auto;
    border-radius: .5rem;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 2rem;
    color: #fff;

    box-shadow: 0px 0px 69px 42px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 0px 0px 69px 42px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 0px 0px 69px 42px rgba(0, 0, 0, 0.86);
}

@media (max-width: 900px) {
    input {
        height: 3rem;
        margin: 2rem;
        width: auto;
        padding: 2rem 2rem 2rem 2rem;
        font-size: 1.2rem;
    }
}